cluster_name        = "{{CLUSTER_NAME}}"
env_name            = "wd-assignment"
region              = "{{AWS_REGION}}"
cidr                = "10.20.23.0/24"
cidr_public         = "10.20.25.0/24"
cluster_users       = ["{{USER_ARN}}"]
public_access_cidrs = ["{{PUBLIC_ACCESS_CIDRS}}/32"]
cluster_version     = "1.29"
github_secret_name  = "{{AWS_SM_NAME}}"