cluster_name = "wd-cluster"
env_name     = "wd-assignment"
region       = "eu-west-1"
cidr = "10.20.23.0/24"
cidr_public = "10.20.25.0/24"
secondary_cidr = "10.250.0.0/16"
k8s-admin-arn = "arn:${AWS_PARTITION}:iam::${AWS_ACCOUNTID}:user/${AWS_USER_NAME}"
public_access_cidrs = ["0.0.0.0/0"] #CHANGE THIS TO YOUR OUTBOUND IP ADDRESS
cluster_version = "1.29"